.App {
 height: 100vh;
 width: 100vw;
}

.icon {
  opacity: 0;
  transition: 0.3s;  
}
.socials:hover + .icon {
  transition: 0.3s;
  opacity: 1;
}

a {color: #1E1E1E }
a:visited {color: #1E1E1E}
a:hover {color: #1E1E1E}
a:active {color: #1E1E1E}



.middle {
  height: 3.5vh;
  background: #6851FF;
  transform: rotate(-180deg);
  border-top-left-radius: 200px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
